/* ======================================================================
 * DESKTOP
 * ====================================================================== */

#tw-form {
    min-height: 100vh;
    background-color: var(--bk-dark);
}

#tw-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px 60px 40px 60px;
    box-sizing: border-box;
    background: var(--window-dark);
    border-radius: 10px;
}

#tw-form-container h3 {
    font-size: var(--h3-size);
    color: white;
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
}

#tw-form-container input {
    background: transparent;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}

#tw-form-container .tw-form-box {
    position: relative;
}

#tw-form-container .tw-form-box input {
    background: transparent;
    margin-bottom: 30px;
    padding: 10px 0;
    border-bottom: 1px solid white;
    transition: .5s;
    color: white;
}

#tw-form-container .tw-form-box input::placeholder {
    opacity: 0;
    color: #1da1f2;
    transition: .5s;
}

#tw-form-container .tw-form-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: white;
    pointer-events: none;
    transition: .5s;
}

#tw-form-container .tw-form-box input:focus::placeholder {
    opacity: 1;
}

#tw-form-container .tw-form-box input:focus ~ label,
#tw-form-container .tw-form-box input:valid ~ label {
    top: -20px;
    left: 0px;
    color: var(--window-light);
    font-size: 12px;
}

/* submit button */
#tw-form-container input[type="submit"] {
    padding: 10px 0px 10px 0px;
    margin-top: 30px;
    text-align: center;
    background: var(--window-light);
    color: black;
    transition: .5s;
}

#tw-form-container input[type="submit"]:hover {
    cursor: pointer;
    background: #76c9fc;
    box-shadow: 0px 0px 15px #76c9fc;
}
